[phases.setup]
nixPkgs = ["nodejs_20"]

[variables]
NODE_VERSION = "20"

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["prisma generate", "prisma migrate deploy", "next build"]

[start]
cmd = "next start"
